select.form-control {
    width: auto;
}

.container > div {
    margin: 20px 0;
}

.container > div:first-child {
    margin-top: 0;
}

.container > div:last-child {
    margin-bottom: 0;
}

#bubbles {
    width: 100%;
    background-color: lightcyan;
}

#bubbles circle {
    stroke: #000;
    stroke-opacity: .5;
}

circle:hover, text:hover {
    cursor: pointer;
}

#bubbles g.active > circle {
}

#bubbles g.active > text {
    font-weight: bold;
}

#bubbles g.selected > circle {
}

#bubbles g.selected > text {
    font-weight: bold;
}

#scatter circle.selected {
    stroke: #000;
    stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 44px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip:before {
    content:"";
    position: absolute;
    top: 100%;
    left: 87px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid black;
    border-right: 12px solid transparent;
}

#loading-div {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    display:flex;
    justify-content:center;
    align-items:center;
}

#loading-div > span {
    color: white;
    font-size: 24px;
}