#bubbles {
    width: 100%;
    background-color: lightcyan;
    margin-bottom: 20px;
}

#text {
    margin: 20px 0;
}

circle {
    stroke: #000;
    stroke-opacity: .5;
}

circle:hover {
    cursor: pointer;
}

g.active > circle {
    stroke: red;
    stroke-width: 10px;
    stroke-opacity: 1;
}

g.active > text {
    font-weight: bold;
}

g.selected > circle {
    stroke: blue;
    stroke-width: 10px;
    stroke-opacity: 1;
}

g.selected > text {
    font-weight: bold;
}
