#bubbles {
    width: 100%;
    background-color: lightcyan;
}

circle {
    stroke: #000;
    stroke-opacity: .5;
}

circle:hover {
    cursor: pointer;
}

g.active > circle {
    stroke: red;
    stroke-width: 10px;
    stroke-opacity: 1;
}

g.active > text {
    font-weight: bold;
}
